body {
  background-color: black;
  font-family: 'Indie Flower', cursive;
  color: #f2f2f2;
}


.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 2%;
  font-size: 17px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: 0;
  cursor: pointer;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #eaeaea;
  height: auto;
  color: black;
}

.active {
  background-color: #eaeaea;
  /*cursor: pointer;*/
  color: black;
}

#aboutmeimg {
  border-radius: 25px;
  padding-top: 5px;
}

.me {
  /*background-color: #EDF1F4;*/
  /*background-size: 100%;*/
  /*padding-top: 1%;*/
  text-align: center;
}

.toprow .col-md-4 h2 {
  padding-top: 20%;
}

.toprow {
  padding-top: 6%;
  padding-bottom: 6%;
}

.toprow h1 {
  text-align: center;
}

.toprow .container {
  border: 1px solid #bbb;
  border-radius: 25px;
}

.midrow .container {
  border-radius: 25px;
  border:1px solid #bbb;
}

.skills {
  font-size: 150%;
}

.skills h3 {
  font-weight: bold;
}

#james {
  font-size: bold;
}

#aboutme {
  font-size: 150%;
}


#div3 {
  border: 1px solid #bbb;
  border-radius: 25px;
  /*margin: 10px 0 10px 0;*/
}

#div4 {
  border: 1px solid #bbb;
  border-radius: 25px;
  text-align: center;
  margin: 10px 0 10px 0;
}
