body {
  background-color: #E9EBEE;
}

#me {
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100%;
}

#james {
  float: right;
  font-size: bold;
}

#aboutme {
  font-style: normal;
  font-family: sans-serif;
}
#contactme {
  font-family: serif;
  font-size: 120%;
  background-color: #84E2AA;
  font-weight: bold;
}
